.DraftNameInput {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,.12);
  color: rgba(255,255,255,.9);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  outline: none;
  padding: .5rem 0; 
  position: relative;
  width: 100%;
}

.DraftNameInput:focus {
  border-bottom: 2px solid rgba(255,255,255,.5);
  color: #FFF;
}
