.DraftItem {
  border-bottom: 1px solid;
  border-color: rgba(255,255,255,.12);
  cursor: pointer;
  display: flex;
}

.DraftItem:hover {
  background: #424242;
}

.DraftItem > div {
  box-sizing: border-box;
  padding: .75rem 1.5rem;
  padding-right: 0;
}

.DraftItem-selected {
  background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2));  
}
